/* PUNTO 1*/

.stats-container .stats-grid:nth-of-type(1){
    position: relative;
}

.stats-container .stats-grid:nth-of-type(1) .stat-number::before{
    content: "\1F525";
    display: block;
    
}

/* PUNTO 2*/

.stats-container .stats-grid:last-child{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 20px;
    text-align: center;
}

.stats-container .stats-grid:last-child .stat-number,
.stats-container .stats-grid:last-child .stat-label {
  color: white;
}

/* PUNTO 3*/

.stats-grid:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}


/* PUNTO 4*/

.workout-section .workout-plan:nth-of-type(2){
    background-color: #FFF8BA;
    border-left: 5px solid orange;
}

/* PUNTO 5*/

.exercise-item:first-child,
.exercise-item:last-child{
    background-color: #F0FFF4;
    border-left: 5px solid #2ECC71;
}

/* PUNTO 6*/

.exercise-item:nth-of-type(2) .exercise-name::before,
.exercise-item:nth-of-type(4) .exercise-name::before{
    content: "\26A1";
    display: block;
}

/* PUNTO 7-8*/

input:hover,
select:hover{
    border: 2px solid blue;
    box-shadow: 0 15px 35px rgba(0,0,255,0.6);
}

/* PUNTO 9*/

.save-btn:hover{
    transform: translateY(-2px);
    background-color: blue;
    box-shadow: 0 15px 35px rgba(0,0,255,0.6);
}

/* PUNTO 10*/

.progress-section .progress-bar .progress-fill::after{
    content: "65%";
    color: white;
    display: block;
    translate: +88% -25%;
    font-size: 0.75rem;
}
